<div>
    <footer> 
        <div class="footer">   
            <h3 id="contacto">Contactanos!</h3>
            <ul class="icon-container">
                <li><a rel="noopener" href="https://www.facebook.com/joao.boy" target="_blank" title="fb" class="fa-brands fa-facebook"></a></li>
                <li><a class="fa-brands fa-instagram" rel="noopener" href="https://www.instagram.com/" target="_blank" title="ig"></a></li>
            </ul>
        </div>
        <h4><a href="#arriba">Ir arriba</a></h4>
    </footer>
</div>