<div class="container-fluid">
    <div class="row">
        <div class="col-6 section-content background-s1" >
                <h2> ¿Que ofrecemos? </h2>    
                <p> Un grupo interesado en brindarles la mejores soluciones IT 
                </p>  
        </div>
    </div>  
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col section-content" id="0001">
            <h2>¿Quienes nos eligen? </h2>
            <p> Estamos felices de contar con Clientes-amigos y Amigos-clientes</p>
        </div>
        <div class="col section-content" id="0002">
            <h2>Sobre Nosotros - Caracteristicas</h2>
            <p>
                Lsadast consectetur adipisicing elit. Reprehenderit facilis aut temporibus labore explicabo voluptates provident nobis, ullam soluta, ipsam enim. Necessitatibus esse, officia numquam sunt consequuntur cumque unde voluptatibus?
            </p>
        </div>
    </div>              
</div>