<div class="container-fluid">
    <div class="row">
        <div class="col section-content background-s1" >
                <h2> Habilidades </h2>    
                <p>Creo que mi pasión por la tecnología, mi capacidad para trabajar en equipo y mi enfoque en el aprendizaje continuo me hacen un candidato ideal para cualquier proyecto de desarrollo web o móvil.
                </p>  
        </div>
    </div>  
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col section-content">
            <h2>Sobre Mi</h2>
            <p>
                Soy un apasionado desarrollador fullstack con experiencia en la creación de aplicaciones web y móviles. Me considero una persona proactiva y siempre estoy en busca de nuevos desafíos y oportunidades para seguir mejorando mis habilidades. <br> <br>   
                En mi tiempo libre, disfruto aprendiendo sobre nuevas tecnologías y manteniéndome al día con las últimas tendencias en el desarrollo de software. También me gusta participar en eventos de la comunidad de desarrolladores y contribuir a proyectos de código abierto.
                <br> <br>
             
            </p>
            </div>
    </div>              
</div>